Canaa.Infra.ExternalServices/appsettings.json
Canaa/appsettings.json


/Canaa/.vs/Canaa/CopilotIndices/17.13.433.20974/CodeChunks.db
*.db-shm
*.db-wal
*.dll
*.pdb
/Canaa/.vs/Canaa/CopilotIndices/17.13.433.20974/SemanticSymbols.db
*.vsidx
/Canaa/.vs/Canaa/v17/.suo
*.json

/Canaa/bin/
/Canaa/obj/

/Canaa.FN.BusinessComponents/bin/*.pdb
/Canaa.FN.BusinessComponents/bin/*.dll
/Canaa.FN.BusinessComponents/obj/Debug/net9.0/Canaa.FN.BusinessComponents.AssemblyInfo.cs
/Canaa.FN.BusinessComponents/obj/Debug/net9.0/Canaa.FN.BusinessComponents.AssemblyInfoInputs.cache
/Canaa.FN.BusinessComponents/obj/Debug/net9.0/Canaa.FN.BusinessComponents.csproj.AssemblyReference.cache
/Canaa.Infra.ExternalServices/obj/Debug/net9.0/Canaa.Infra.ExternalServices.AssemblyInfo.cs
/Canaa.Infra.ExternalServices/obj/Debug/net9.0/Canaa.Infra.ExternalServices.AssemblyInfoInputs.cache
/Canaa.Infra.ExternalServices/obj/Debug/net9.0/Canaa.Infra.ExternalServices.csproj.AssemblyReference.cache
/Canaa/.vs/Canaa/v17/DocumentLayout.backup.json
/Canaa/.vs/Canaa/v17/DocumentLayout.json

/Canaa/obj/Debug/net9.0/ref/Canaa.dll
/Canaa/obj/Debug/net9.0/refint/Canaa.dll
/Canaa/obj/Debug/net9.0/apphost.exe
/Canaa/obj/Debug/net9.0/Canaa.AssemblyInfo.cs
/Canaa/obj/Debug/net9.0/Canaa.AssemblyInfoInputs.cache
/Canaa/obj/Debug/net9.0/Canaa.csproj.AssemblyReference.cache
/Canaa/obj/Debug/net9.0/Canaa.csproj.FileListAbsolute.txt
/Canaa/obj/Debug/net9.0/Canaa.dll
/Canaa/obj/Debug/net9.0/Canaa.pdb
/Canaa.DataContracts/bin/Debug/net9.0/Canaa.DataContracts.dll
/Canaa.DataContracts/bin/Debug/net9.0/Canaa.DataContracts.pdb
/Canaa.DataContracts/obj/Debug/net9.0/ref/Canaa.DataContracts.dll
/Canaa.DataContracts/obj/Debug/net9.0/refint/Canaa.DataContracts.dll
/Canaa.DataContracts/obj/Debug/net9.0/Canaa.DataContracts.AssemblyInfo.cs
/Canaa.DataContracts/obj/Debug/net9.0/Canaa.DataContracts.AssemblyInfoInputs.cache
/Canaa.DataContracts/obj/Debug/net9.0/Canaa.DataContracts.csproj.FileListAbsolute.txt
/Canaa.DataContracts/obj/Debug/net9.0/Canaa.DataContracts.dll
/Canaa.DataContracts/obj/Debug/net9.0/Canaa.DataContracts.pdb
/Canaa.FN.BusinessComponents/bin/Debug/net9.0/Canaa.DataContracts.dll
/Canaa.FN.BusinessComponents/bin/Debug/net9.0/Canaa.DataContracts.pdb
/Canaa.FN.BusinessComponents/bin/Debug/net9.0/Canaa.FN.BusinessComponents.dll
/Canaa.FN.BusinessComponents/bin/Debug/net9.0/Canaa.FN.BusinessComponents.pdb
/Canaa.Infra.ExternalServices/obj/Debug/net9.0/ref/Canaa.Infra.ExternalServices.dll
/Canaa.Infra.ExternalServices/obj/Debug/net9.0/refint/Canaa.Infra.ExternalServices.dll
/Canaa.Infra.ExternalServices/obj/Debug/net9.0/Canaa.Infra.ExternalServices.csproj.FileListAbsolute.txt
/Canaa.FN.BusinessComponents/bin/Debug/net9.0/Canaa.Infra.ExternalServices.dll
/Canaa.FN.BusinessComponents/bin/Debug/net9.0/Canaa.Infra.ExternalServices.pdb
/Canaa.FN.BusinessComponents/obj/Debug/net9.0/ref/Canaa.FN.BusinessComponents.dll
/Canaa.FN.BusinessComponents/obj/Debug/net9.0/refint/Canaa.FN.BusinessComponents.dll
/Canaa.Infra.ExternalServices/bin/Debug/net9.0/Canaa.DataContracts.dll
/Canaa.Infra.ExternalServices/bin/Debug/net9.0/Canaa.DataContracts.pdb
/Canaa.Infra.ExternalServices/bin/Debug/net9.0/Canaa.Infra.ExternalServices.dll
/Canaa.FN.BusinessComponents/obj/Debug/net9.0/Canaa.FN.BusinessComponents.csproj.FileListAbsolute.txt
/Canaa.FN.BusinessComponents/obj/Debug/net9.0/Canaa.FN.BusinessComponents.dll
/Canaa.FN.BusinessComponents/obj/Debug/net9.0/Canaa.FN.BusinessComponents.pdb
/Canaa.Infra.ExternalServices/bin/Debug/net9.0/Canaa.Infra.ExternalServices.pdb
/Canaa.Infra.ExternalServices/obj/Debug/net9.0/Canaa.Infra.ExternalServices.dll
/Canaa.Infra.ExternalServices/obj/Debug/net9.0/Canaa.Infra.ExternalServices.pdb
/Canaa/appsettings.json
/Canaa.Infra.ExternalServices/appsettings.json
/Canaa/obj/Release/net9.0/PubTmp/Out/appsettings.json
/Canaa/obj/Release/net9.0/PubTmp/Out/Canaa.DataContracts.dll
/Canaa/obj/Release/net9.0/PubTmp/Out/Canaa.DataContracts.pdb
/Canaa/obj/Release/net9.0/PubTmp/Out/Canaa.dll
/Canaa/obj/Release/net9.0/PubTmp/Out/Canaa.exe
/Canaa/obj/Release/net9.0/PubTmp/Out/Canaa.FN.BusinessComponents.dll
/Canaa/obj/Release/net9.0/PubTmp/Out/Canaa.FN.BusinessComponents.pdb
/Canaa/obj/Release/net9.0/PubTmp/Out/Canaa.Infra.ExternalServices.dll
/Canaa/obj/Release/net9.0/PubTmp/Out/Canaa.pdb
/Canaa/obj/Release/net9.0/PubTmp/Out/Canaa.Infra.ExternalServices.pdb
/Canaa/obj/Release/net9.0/Canaa.AssemblyInfoInputs.cache
/Canaa/obj/Release/net9.0/Canaa.csproj.CoreCompileInputs.cache
/Canaa/obj/Release/net9.0/Canaa.csproj.FileListAbsolute.txt
/Canaa/obj/Release/net9.0/Canaa.csproj.AssemblyReference.cache
/Canaa/obj/Release/net9.0/Canaa.pdb
/Canaa/obj/Release/net9.0/Canaa.dll
/Canaa/obj/Release/net9.0/refint/Canaa.dll
/Canaa/obj/Release/net9.0/ref/Canaa.dll
/Canaa/obj/Release/net9.0/apphost.exe
/Canaa/obj/Debug/net9.0/Canaa.csproj.CoreCompileInputs.cache
/Canaa.DataContracts/obj/Release/net9.0/ref/Canaa.DataContracts.dll
/Canaa.DataContracts/obj/Release/net9.0/refint/Canaa.DataContracts.dll
/Canaa.DataContracts/obj/Release/net9.0/Canaa.DataContracts.AssemblyInfoInputs.cache
/Canaa.DataContracts/obj/Release/net9.0/Canaa.DataContracts.csproj.CoreCompileInputs.cache
/Canaa.DataContracts/obj/Release/net9.0/Canaa.DataContracts.dll
/Canaa.DataContracts/obj/Release/net9.0/Canaa.DataContracts.csproj.FileListAbsolute.txt
/Canaa.DataContracts/obj/Release/net9.0/Canaa.DataContracts.pdb
/Canaa.FN.BusinessComponents/bin/Release/net9.0/Canaa.DataContracts.dll
/Canaa.FN.BusinessComponents/bin/Release/net9.0/Canaa.DataContracts.pdb
/Canaa.FN.BusinessComponents/bin/Release/net9.0/Canaa.Infra.ExternalServices.dll
/Canaa.FN.BusinessComponents/bin/Release/net9.0/Canaa.FN.BusinessComponents.dll
/Canaa.FN.BusinessComponents/bin/Release/net9.0/Canaa.FN.BusinessComponents.pdb
/Canaa.FN.BusinessComponents/bin/Release/net9.0/Canaa.Infra.ExternalServices.pdb
/Canaa.FN.BusinessComponents/obj/Debug/net9.0/Canaa.FN.BusinessComponents.csproj.CoreCompileInputs.cache
/Canaa.FN.BusinessComponents/obj/Release/net9.0/ref/Canaa.FN.BusinessComponents.dll
/Canaa.FN.BusinessComponents/obj/Release/net9.0/refint/Canaa.FN.BusinessComponents.dll
/Canaa.FN.BusinessComponents/obj/Release/net9.0/Canaa.FN.BusinessComponents.AssemblyInfoInputs.cache
/Canaa.FN.BusinessComponents/obj/Release/net9.0/Canaa.FN.BusinessComponents.csproj.AssemblyReference.cache
/Canaa.FN.BusinessComponents/obj/Release/net9.0/Canaa.FN.BusinessComponents.csproj.CoreCompileInputs.cache
/Canaa.FN.BusinessComponents/obj/Release/net9.0/Canaa.FN.BusinessComponents.csproj.FileListAbsolute.txt
/Canaa.FN.BusinessComponents/obj/Release/net9.0/Canaa.FN.BusinessComponents.dll
/Canaa.FN.BusinessComponents/obj/Release/net9.0/Canaa.FN.BusinessComponents.pdb
/Canaa.Infra.ExternalServices/bin/Release/net9.0/Canaa.DataContracts.dll
/Canaa.Infra.ExternalServices/bin/Release/net9.0/Canaa.DataContracts.pdb
/Canaa.Infra.ExternalServices/bin/Release/net9.0/Canaa.Infra.ExternalServices.dll
/Canaa.Infra.ExternalServices/bin/Release/net9.0/Canaa.Infra.ExternalServices.pdb
/Canaa.Infra.ExternalServices/obj/Release/net9.0/ref/Canaa.Infra.ExternalServices.dll
/Canaa.Infra.ExternalServices/obj/Release/net9.0/refint/Canaa.Infra.ExternalServices.dll
/Canaa.Infra.ExternalServices/obj/Release/net9.0/Canaa.Infra.ExternalServices.AssemblyInfoInputs.cache
/Canaa/bin/Release/net9.0/appsettings.json
/Canaa/bin/Release/net9.0/Canaa.DataContracts.dll
/Canaa/bin/Release/net9.0/Canaa.DataContracts.pdb
/Canaa/bin/Release/net9.0/Canaa.dll
/Canaa/bin/Release/net9.0/Canaa.exe
/Canaa/bin/Release/net9.0/Canaa.FN.BusinessComponents.dll
/Canaa/bin/Release/net9.0/Canaa.Infra.ExternalServices.dll
/Canaa/bin/Release/net9.0/Canaa.FN.BusinessComponents.pdb
/Canaa/bin/Release/net9.0/Canaa.Infra.ExternalServices.pdb
/Canaa/bin/Release/net9.0/Canaa.pdb
/Canaa/obj/Debug/net9.0/ApiEndpoints.json
/Canaa.Infra.ExternalServices/obj/Debug/net9.0/Canaa.Infra.ExternalServices.csproj.CoreCompileInputs.cache
/Canaa.Infra.ExternalServices/obj/Release/net9.0/Canaa.Infra.ExternalServices.pdb
/Canaa.Infra.ExternalServices/obj/Release/net9.0/Canaa.Infra.ExternalServices.csproj.AssemblyReference.cache
*.dll
/Canaa.Infra.ExternalServices/obj/Release/net9.0/Canaa.Infra.ExternalServices.csproj.CoreCompileInputs.cache
/Canaa.DataContracts/obj/Debug/net9.0/Canaa.DataContracts.csproj.CoreCompileInputs.cache
/Canaa/Properties/PublishProfiles/FolderProfile1.pubxml.user
/Canaa.Infra.ExternalServices/obj/Release/net9.0/Canaa.Infra.ExternalServices.csproj.FileListAbsolute.txt
/Canaa.Infra.ExternalServices/obj/Release/net9.0/Canaa.Infra.ExternalServices.dll
/Canaa/.vs/Canaa/DesignTimeBuild/.dtbcache.v2
/Canaa/.vs/Canaa/v17/.futdcache.v2
/Canaa/.vs/ProjectEvaluation/canaa.metadata.v9.bin
*.BuildWithSkipAnalyzers
/Canaa/.vs/ProjectEvaluation/canaa.projects.v9.bin
/Canaa/.vs/ProjectEvaluation/canaa.strings.v9.bin
/Canaa.DataContracts/bin/Release/net9.0/Canaa.DataContracts.pdb
/Canaa.DataContracts/bin/Release/net9.0/Canaa.DataContracts.dll
/Canaa.FN.BusinessComponents/obj/Debug/net9.0/Canaa.FN.BusinessComponents.assets.cache
/Canaa.FN.BusinessComponents/obj/Canaa.FN.BusinessComponents.csproj.nuget.dgspec.json
/Canaa.FN.BusinessComponents/obj/project.assets.json
/Canaa.FN.BusinessComponents/obj/project.nuget.cache
/Canaa.Infra.ExternalServices/obj/Debug/net9.0/Canaa.Infra.ExternalServices.assets.cache
/Canaa.Infra.ExternalServices/obj/Release/net9.0/Canaa.Infra.ExternalServices.AssemblyInfo.cs
/Canaa.Infra.ExternalServices/obj/Canaa.Infra.ExternalServices.csproj.nuget.dgspec.json
/Canaa.Infra.ExternalServices/obj/project.assets.json
/Canaa.Infra.ExternalServices/obj/project.nuget.cache
/Canaa/obj/Canaa.csproj.nuget.dgspec.json
/Canaa/obj/project.assets.json
/Canaa/obj/project.nuget.cache
/Canaa/obj/Debug/net9.0/Canaa.assets.cache

/Canaa/bin/Release/net9.0/Canaa.deps.json
/Canaa/obj/Debug/net9.0/EndpointInfo
/Canaa/obj/Release/net9.0/PubTmp/Out/Canaa.deps.json
/Canaa/obj/Release/net9.0/PubTmp/Out/web.config
/Canaa/obj/Release/net9.0/Canaa.assets.cache
/Canaa/obj/Release/net9.0/PublishOutputs.7a19dc8d0e.txt
/Canaa/Properties/PublishProfiles/FolderProfile.pubxml.user
/Canaa/Canaa.csproj.user
*.exe
/Canaa.FN.BusinessComponents/bin/Debug/net9.0/Canaa.FN.BusinessComponents.deps.json
/Canaa.FN.BusinessComponents/bin/Release/net9.0/Canaa.FN.BusinessComponents.deps.json
/Canaa.FN.BusinessComponents/obj/Release/net9.0/Canaa.FN.BusinessComponents.assets.cache
/Canaa.Infra.ExternalServices/bin/Debug/net9.0/Canaa.Infra.ExternalServices.deps.json
/Canaa.Infra.ExternalServices/bin/Release/net9.0/Canaa.Infra.ExternalServices.deps.json
/Canaa.Infra.ExternalServices/obj/Release/net9.0/Canaa.Infra.ExternalServices.assets.cache
/Canaa.DataContracts/bin/Debug/net9.0/Canaa.DataContracts.deps.json
/Canaa.DataContracts/obj/Debug/net9.0/Canaa.DataContracts.assets.cache
/Canaa.DataContracts/obj/Debug/net9.0/Canaa.DataContracts.csproj.AssemblyReference.cache
/Canaa.DataContracts/obj/Canaa.DataContracts.csproj.nuget.dgspec.json
/Canaa.DataContracts/obj/Canaa.DataContracts.csproj.nuget.g.targets
/Canaa.DataContracts/obj/project.assets.json
/Canaa.DataContracts/obj/project.nuget.cache
/Canaa.DataContracts/obj/Release/net9.0/Canaa.DataContracts.AssemblyInfo.cs
/Canaa.DataContracts/bin/Release/net9.0/Canaa.DataContracts.deps.json
/Canaa.DataContracts/obj/Release/net9.0/Canaa.DataContracts.assets.cache
/.vs/API/v17
/Canaa/.vs/Canaa
/Canaa/obj/Debug/net9.0/staticwebassets.build.json
/.gitignore


/Canaa/bin/Debug/net9.0/


/Canaa.FN.BusinessComponents/obj/Canaa.FN.BusinessComponents.csproj.nuget.g.props
/Canaa.FN.BusinessComponents/obj/Debug/net9.0/Canaa.FN.BusinessComponents.GeneratedMSBuildEditorConfig.editorconfig
/Canaa.Infra.ExternalServices/obj/Debug/net9.0/Canaa.Infra.ExternalServices.GeneratedMSBuildEditorConfig.editorconfig
/Canaa.Infra.ExternalServices/obj/Debug/net9.0/Canaa.Infra.ExternalServices.genruntimeconfig.cache
/Canaa.Infra.ExternalServices/obj/Canaa.Infra.ExternalServices.csproj.nuget.g.props
/Canaa.DataContracts/obj/Debug/net9.0/Canaa.DataContracts.GeneratedMSBuildEditorConfig.editorconfig
/Canaa.DataContracts/obj/Canaa.DataContracts.csproj.nuget.g.props
/Canaa/obj/Debug/net9.0/Canaa.GeneratedMSBuildEditorConfig.editorconfig
/Canaa/obj/Debug/net9.0/Canaa.genruntimeconfig.cache
/Canaa/obj/Debug/net9.0/Canaa.MvcApplicationPartsAssemblyInfo.cs
/Canaa/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/Canaa/obj/Canaa.csproj.nuget.g.props
*.env
/Canaa.DataContracts/obj/Debug/net8.0
/Canaa.FN.BusinessComponents/obj/Debug/net8.0
/Canaa.FN.BusinessComponents/obj/Canaa.FN.BusinessComponents.csproj.nuget.g.targets
/Canaa.Infra.ExternalServices/obj/Debug/net8.0
/Canaa.Infra.ExternalServices/obj/Canaa.Infra.ExternalServices.csproj.nuget.g.targets
/Canaa/obj/Canaa.csproj.nuget.g.targets
/Canaa.Infra.Entities/obj
