Canaa.Infra.ExternalServices/appsettings.json
Canaa/appsettings.json


/Canaa/.vs/Canaa/CopilotIndices/17.13.433.20974/CodeChunks.db
*.db-shm
*.db-wal
*.dll
*.pdb
/Canaa/.vs/Canaa/CopilotIndices/17.13.433.20974/SemanticSymbols.db
*.vsidx
/Canaa/.vs/Canaa/v17/.suo
*.json


/Canaa.FN.BusinessComponents/bin/*.pdb
/Canaa.FN.BusinessComponents/bin/*.dll
/Canaa.FN.BusinessComponents/obj/Debug/net9.0/Canaa.FN.BusinessComponents.AssemblyInfo.cs
/Canaa.FN.BusinessComponents/obj/Debug/net9.0/Canaa.FN.BusinessComponents.AssemblyInfoInputs.cache
/Canaa.FN.BusinessComponents/obj/Debug/net9.0/Canaa.FN.BusinessComponents.csproj.AssemblyReference.cache
/Canaa.Infra.ExternalServices/obj/Debug/net9.0/Canaa.Infra.ExternalServices.AssemblyInfo.cs
/Canaa.Infra.ExternalServices/obj/Debug/net9.0/Canaa.Infra.ExternalServices.AssemblyInfoInputs.cache
/Canaa.Infra.ExternalServices/obj/Debug/net9.0/Canaa.Infra.ExternalServices.csproj.AssemblyReference.cache
/Canaa/.vs/Canaa/v17/DocumentLayout.backup.json
/Canaa/.vs/Canaa/v17/DocumentLayout.json
/Canaa/bin/Debug/net9.0/appsettings.json
/Canaa/bin/Debug/net9.0/Canaa.DataContracts.dll
/Canaa/bin/Debug/net9.0/Canaa.DataContracts.pdb
/Canaa/bin/Debug/net9.0/Canaa.dll
/Canaa/bin/Debug/net9.0/Canaa.exe
/Canaa/bin/Debug/net9.0/Canaa.FN.BusinessComponents.dll
/Canaa/bin/Debug/net9.0/Canaa.FN.BusinessComponents.pdb
/Canaa/bin/Debug/net9.0/Canaa.Infra.ExternalServices.dll
/Canaa/bin/Debug/net9.0/Canaa.Infra.ExternalServices.pdb
/Canaa/bin/Debug/net9.0/Canaa.pdb
/Canaa/obj/Debug/net9.0/ref/Canaa.dll
/Canaa/obj/Debug/net9.0/refint/Canaa.dll
/Canaa/obj/Debug/net9.0/apphost.exe
/Canaa/obj/Debug/net9.0/Canaa.AssemblyInfo.cs
/Canaa/obj/Debug/net9.0/Canaa.AssemblyInfoInputs.cache
/Canaa/obj/Debug/net9.0/Canaa.csproj.AssemblyReference.cache
/Canaa/obj/Debug/net9.0/Canaa.csproj.FileListAbsolute.txt
/Canaa/obj/Debug/net9.0/Canaa.dll
/Canaa/obj/Debug/net9.0/Canaa.pdb
/Canaa.DataContracts/bin/Debug/net9.0/Canaa.DataContracts.dll
/Canaa.DataContracts/bin/Debug/net9.0/Canaa.DataContracts.pdb
/Canaa.DataContracts/obj/Debug/net9.0/ref/Canaa.DataContracts.dll
/Canaa.DataContracts/obj/Debug/net9.0/refint/Canaa.DataContracts.dll
/Canaa.DataContracts/obj/Debug/net9.0/Canaa.DataContracts.AssemblyInfo.cs
/Canaa.DataContracts/obj/Debug/net9.0/Canaa.DataContracts.AssemblyInfoInputs.cache
/Canaa.DataContracts/obj/Debug/net9.0/Canaa.DataContracts.csproj.FileListAbsolute.txt
/Canaa.DataContracts/obj/Debug/net9.0/Canaa.DataContracts.dll
/Canaa.DataContracts/obj/Debug/net9.0/Canaa.DataContracts.pdb
/Canaa.FN.BusinessComponents/bin/Debug/net9.0/Canaa.DataContracts.dll
/Canaa.FN.BusinessComponents/bin/Debug/net9.0/Canaa.DataContracts.pdb
/Canaa.FN.BusinessComponents/bin/Debug/net9.0/Canaa.FN.BusinessComponents.dll
/Canaa.FN.BusinessComponents/bin/Debug/net9.0/Canaa.FN.BusinessComponents.pdb
/Canaa.Infra.ExternalServices/obj/Debug/net9.0/ref/Canaa.Infra.ExternalServices.dll
/Canaa.Infra.ExternalServices/obj/Debug/net9.0/refint/Canaa.Infra.ExternalServices.dll
/Canaa.Infra.ExternalServices/obj/Debug/net9.0/Canaa.Infra.ExternalServices.csproj.FileListAbsolute.txt
/Canaa.FN.BusinessComponents/bin/Debug/net9.0/Canaa.Infra.ExternalServices.dll
/Canaa.FN.BusinessComponents/bin/Debug/net9.0/Canaa.Infra.ExternalServices.pdb
/Canaa.FN.BusinessComponents/obj/Debug/net9.0/ref/Canaa.FN.BusinessComponents.dll
/Canaa.FN.BusinessComponents/obj/Debug/net9.0/refint/Canaa.FN.BusinessComponents.dll
/Canaa.Infra.ExternalServices/bin/Debug/net9.0/Canaa.DataContracts.dll
/Canaa.Infra.ExternalServices/bin/Debug/net9.0/Canaa.DataContracts.pdb
/Canaa.Infra.ExternalServices/bin/Debug/net9.0/Canaa.Infra.ExternalServices.dll
/Canaa.FN.BusinessComponents/obj/Debug/net9.0/Canaa.FN.BusinessComponents.csproj.FileListAbsolute.txt
/Canaa.FN.BusinessComponents/obj/Debug/net9.0/Canaa.FN.BusinessComponents.dll
/Canaa.FN.BusinessComponents/obj/Debug/net9.0/Canaa.FN.BusinessComponents.pdb
/Canaa.Infra.ExternalServices/bin/Debug/net9.0/Canaa.Infra.ExternalServices.pdb
/Canaa.Infra.ExternalServices/obj/Debug/net9.0/Canaa.Infra.ExternalServices.dll
/Canaa.Infra.ExternalServices/obj/Debug/net9.0/Canaa.Infra.ExternalServices.pdb
/Canaa/appsettings.json
/Canaa.Infra.ExternalServices/appsettings.json
/Canaa/obj/Release/net9.0/PubTmp/Out/appsettings.json
/Canaa/obj/Release/net9.0/PubTmp/Out/Canaa.DataContracts.dll
/Canaa/obj/Release/net9.0/PubTmp/Out/Canaa.DataContracts.pdb
/Canaa/obj/Release/net9.0/PubTmp/Out/Canaa.dll
/Canaa/obj/Release/net9.0/PubTmp/Out/Canaa.exe
/Canaa/obj/Release/net9.0/PubTmp/Out/Canaa.FN.BusinessComponents.dll
/Canaa/obj/Release/net9.0/PubTmp/Out/Canaa.FN.BusinessComponents.pdb
/Canaa/obj/Release/net9.0/PubTmp/Out/Canaa.Infra.ExternalServices.dll
/Canaa/obj/Release/net9.0/PubTmp/Out/Canaa.pdb
/Canaa/obj/Release/net9.0/PubTmp/Out/Canaa.Infra.ExternalServices.pdb
/Canaa/obj/Release/net9.0/Canaa.AssemblyInfoInputs.cache
/Canaa/obj/Release/net9.0/Canaa.csproj.CoreCompileInputs.cache
/Canaa/obj/Release/net9.0/Canaa.csproj.FileListAbsolute.txt
/Canaa/obj/Release/net9.0/Canaa.csproj.AssemblyReference.cache
/Canaa/obj/Release/net9.0/Canaa.pdb
/Canaa/obj/Release/net9.0/Canaa.dll
/Canaa/obj/Release/net9.0/refint/Canaa.dll
/Canaa/obj/Release/net9.0/ref/Canaa.dll
/Canaa/obj/Release/net9.0/apphost.exe
/Canaa/obj/Debug/net9.0/Canaa.csproj.CoreCompileInputs.cache
/Canaa.DataContracts/obj/Release/net9.0/ref/Canaa.DataContracts.dll
/Canaa.DataContracts/obj/Release/net9.0/refint/Canaa.DataContracts.dll
/Canaa.DataContracts/obj/Release/net9.0/Canaa.DataContracts.AssemblyInfoInputs.cache
/Canaa.DataContracts/obj/Release/net9.0/Canaa.DataContracts.csproj.CoreCompileInputs.cache
/Canaa.DataContracts/obj/Release/net9.0/Canaa.DataContracts.dll
/Canaa.DataContracts/obj/Release/net9.0/Canaa.DataContracts.csproj.FileListAbsolute.txt
/Canaa.DataContracts/obj/Release/net9.0/Canaa.DataContracts.pdb
/Canaa.FN.BusinessComponents/bin/Release/net9.0/Canaa.DataContracts.dll
/Canaa.FN.BusinessComponents/bin/Release/net9.0/Canaa.DataContracts.pdb
/Canaa.FN.BusinessComponents/bin/Release/net9.0/Canaa.Infra.ExternalServices.dll
/Canaa.FN.BusinessComponents/bin/Release/net9.0/Canaa.FN.BusinessComponents.dll
/Canaa.FN.BusinessComponents/bin/Release/net9.0/Canaa.FN.BusinessComponents.pdb
/Canaa.FN.BusinessComponents/bin/Release/net9.0/Canaa.Infra.ExternalServices.pdb
/Canaa.FN.BusinessComponents/obj/Debug/net9.0/Canaa.FN.BusinessComponents.csproj.CoreCompileInputs.cache
/Canaa.FN.BusinessComponents/obj/Release/net9.0/ref/Canaa.FN.BusinessComponents.dll
/Canaa.FN.BusinessComponents/obj/Release/net9.0/refint/Canaa.FN.BusinessComponents.dll
/Canaa.FN.BusinessComponents/obj/Release/net9.0/Canaa.FN.BusinessComponents.AssemblyInfoInputs.cache
/Canaa.FN.BusinessComponents/obj/Release/net9.0/Canaa.FN.BusinessComponents.csproj.AssemblyReference.cache
/Canaa.FN.BusinessComponents/obj/Release/net9.0/Canaa.FN.BusinessComponents.csproj.CoreCompileInputs.cache
/Canaa.FN.BusinessComponents/obj/Release/net9.0/Canaa.FN.BusinessComponents.csproj.FileListAbsolute.txt
/Canaa.FN.BusinessComponents/obj/Release/net9.0/Canaa.FN.BusinessComponents.dll
/Canaa.FN.BusinessComponents/obj/Release/net9.0/Canaa.FN.BusinessComponents.pdb
/Canaa.Infra.ExternalServices/bin/Release/net9.0/Canaa.DataContracts.dll
/Canaa.Infra.ExternalServices/bin/Release/net9.0/Canaa.DataContracts.pdb
/Canaa.Infra.ExternalServices/bin/Release/net9.0/Canaa.Infra.ExternalServices.dll
/Canaa.Infra.ExternalServices/bin/Release/net9.0/Canaa.Infra.ExternalServices.pdb
/Canaa.Infra.ExternalServices/obj/Release/net9.0/ref/Canaa.Infra.ExternalServices.dll
/Canaa.Infra.ExternalServices/obj/Release/net9.0/refint/Canaa.Infra.ExternalServices.dll
/Canaa.Infra.ExternalServices/obj/Release/net9.0/Canaa.Infra.ExternalServices.AssemblyInfoInputs.cache
/Canaa/bin/Release/net9.0/appsettings.json
/Canaa/bin/Release/net9.0/Canaa.DataContracts.dll
/Canaa/bin/Release/net9.0/Canaa.DataContracts.pdb
/Canaa/bin/Release/net9.0/Canaa.dll
/Canaa/bin/Release/net9.0/Canaa.exe
/Canaa/bin/Release/net9.0/Canaa.FN.BusinessComponents.dll
/Canaa/bin/Release/net9.0/Canaa.Infra.ExternalServices.dll
/Canaa/bin/Release/net9.0/Canaa.FN.BusinessComponents.pdb
/Canaa/bin/Release/net9.0/Canaa.Infra.ExternalServices.pdb
/Canaa/bin/Release/net9.0/Canaa.pdb
/Canaa/obj/Debug/net9.0/ApiEndpoints.json
/Canaa.Infra.ExternalServices/obj/Debug/net9.0/Canaa.Infra.ExternalServices.csproj.CoreCompileInputs.cache
/Canaa.Infra.ExternalServices/obj/Release/net9.0/Canaa.Infra.ExternalServices.pdb
/Canaa.Infra.ExternalServices/obj/Release/net9.0/Canaa.Infra.ExternalServices.csproj.AssemblyReference.cache
*.cs
/Canaa.Infra.ExternalServices/obj/Release/net9.0/Canaa.Infra.ExternalServices.csproj.CoreCompileInputs.cache
/Canaa.DataContracts/obj/Debug/net9.0/Canaa.DataContracts.csproj.CoreCompileInputs.cache
/Canaa/Properties/PublishProfiles/FolderProfile1.pubxml.user
/Canaa.Infra.ExternalServices/obj/Release/net9.0/Canaa.Infra.ExternalServices.csproj.FileListAbsolute.txt
/Canaa.Infra.ExternalServices/obj/Release/net9.0/Canaa.Infra.ExternalServices.dll
/Canaa/.vs/Canaa/DesignTimeBuild/.dtbcache.v2
/Canaa/.vs/Canaa/v17/.futdcache.v2
/Canaa/.vs/ProjectEvaluation/canaa.metadata.v9.bin
*.BuildWithSkipAnalyzers
/Canaa/.vs/ProjectEvaluation/canaa.projects.v9.bin
